<div class="shopCart">
   <section class="shopCartTop">
       <span class="titleFinesse">Shop</span>
   </section>
   <section id="shopCartParent" class="shopCartMeaddle" style="overflow-y:auto;">
   </section>
   <section class="shopCartBottom">
       <input type="submit" class=" linkButton delete" value="Finalizar">
       <input type="submit" class="linkButton save" value="Limpar"> 
   </section>
</div>