<div class="shopCart">
   <section class="shopCartTop">
       <span class="titleFinesse">Shop</span>
   </section>
   <section id="shopCartParent" class="shopCartMeaddle" style="overflow-y:auto;">
{{!--        <div class="shopCartItems">
                <img id="image"> 
           <section class="shopCartName">
               <p id="name"></p>
               <p id="size"></p>
               <p id="color"></p>
                <p id="val"></p>
            </section>
       </div> --}}
   </section>
   <section class="shopCartBottom">
       <input type="submit" class=" linkButton delete" value="Finalizar">
       <input type="submit" class="linkButton save" value="Limpar"> 
   </section>
</div>