<div class="shopCart">
   <section class="shopCartTop">
       <span class="titleFinesse">Shop</span>
   </section>
   <section class="shopCartMeaddle" style="overflow-y:auto;">
       <div class="shopCartItems">
                <img src="https://picsum.photos/200"> 
           <section class="shopCartName">
               <p>Tituto Legal</p>
               <p>Tamanho</p>
               <p>cor</p>
                <p>R$ valor</p>
            </section>
       </div>
       <div class="shopCartItems">
                <img src="https://picsum.photos/200"> 
           <section class="shopCartName">
               <p>Tituto Legal</p>
               <p>Tamanho</p>
               <p>cor</p>
                <p>R$ valor</p>
            </section>
       </div>
       <div class="shopCartItems">
                <img src="https://picsum.photos/200"> 
           <section class="shopCartName">
               <p>Tituto Legal</p>
               <p>Tamanho</p>
               <p>cor</p>
                <p>R$ valor</p>
            </section>
       </div>
       <div class="shopCartItems">
                <img src="https://picsum.photos/200"> 
           <section class="shopCartName">
               <p>Tituto Legal</p>
               <p>Tamanho</p>
               <p>cor</p>
                <p>R$ valor</p>
            </section>
       </div>
       <div class="shopCartItems">
                <img src="https://picsum.photos/200"> 
           <section class="shopCartName">
               <p>Tituto Legal</p>
               <p>Tamanho</p>
               <p>cor</p>
                <p>R$ valor</p>
            </section>
       </div>
   </section>
   <section class="shopCartBottom">
       <input type="submit" class=" linkButton delete" value="Finalizar">
       <input type="submit" class="linkButton save" value="Limpar"> 
   </section>
</div>