<div class="shopCart">
   <section class="shopCartTop">
       <span class="titleFinesse">Carrinho</span>
   </section>
   <section id="shopCartParent" class="shopCartMeaddle" style="overflow-y:auto;">
   </section>
   <section class="shopCartBottom">
       <a class="linkButton save" href="/pagamento"> Finalizar </a>
       <input  type="submit" class=" linkButton delete" onclick="clearCart()" value="Limpar">
   </section>
</div>