<form action="" method="post">
        <div class="wrapper">
            <div class="input-Data">
                <input  type="text" name="Email" required>
                <section class="line"></section>
                <label class="title3">Email</label>
            </div>
             <div class="input-Data">
                <input type="text" name="PassoWord" required>
                <section class="line"></section>
                <label class="title3">Senha</label>
            </div>
             <div class="input-Data">
                <input type="text" name="PassWord" required>
                <section class="line"></section>
                <label class="title3">Confirmar Senha</label>
            </div>
        </div>
    <input class="linkButton save" type="submit" value="Cadastrar">
</form>