{{#each errors}}
    <div class="alert error-msg normalCase">{{texto}}</div>
    {{else}}
{{/each}}
<span class="titleFinesse">Cadastro</span>
<form class="flexCenterColumn" action="/users/register" method="post">
        <div class="wrapper">
            <div class="input-Data">
                <input type="text" name="name" required>
                <section class="line"></section>
                <label class="title3">Nome</label>
            </div>
            <div class="input-Data">
                <input  type="text" name="email" required>
                <section class="line"></section>
                <label class="title3">Email</label>
            </div> 
             <div class="input-Data">
                <input type="text" name="cell" required>
                <section class="line"></section>
                <label class="title3">Numero de Celular</label>
            </div>
            <div class="input-Data">
                <input type="password" name="password" required>
                <section class="line"></section>
                <label class="title3">Senha</label>
            </div>
             <div class="input-Data">
                <input type="password" name="passWordConfirmed" required>
                <section class="line"></section>
                <label class="title3">Confirmar Senha</label>
            </div>
        </div>
    <input class="linkButton save" type="submit" value="Cadastrar">
</form>