<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8f0503e7b9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/global.css">
    <title>Aka Kef | Home</title>
</head>

<body>
    <div id="load"  class="fade-in">
        <div class="loadContent">   
         {{!-- <iframe src="https://giphy.com/embed/d4LCNnahmwbPW" width="480" height="480" frameBorder="0" ></iframe> --}}
        </div>
    </div>
    <div class="modalConteiner rightFlex">
        {{> _cart}}
    </div>

    <div id="pageContent"  class="pageContent fade-in" style=" overflow: hidden; display: none ; transition: all .5s ease-in-out">
    <header>
        <div class="menu responsiveMenu">
            <section class="toggle humburguer" onclick="toggleMenu()"></section>
            <section class="logoKef">
                <a href="/"><img src="/img/kefNoBackground.png" alt="Aka Kef" class="writer"></a>
            </section>

            <section class="menuItens">
                <li id="userArea" class="iconBar user"><a href="/users/login"> <i class="fas fa-user"></i> </a></li>
                <li id="modalPopUp" class="iconBar "><a href="#"> <i class="fas fa-shopping-bag "></i> </a></li>
            </section>
        </div>
    </header>

    <div class="navigation background hide">
       <section class="navigationHeader">
            <span class="title4">Menu</span>
        </section>
        <ul>
            <li>
                <a href="/">
                    <span class="icon"><i class="fas fa-tshirt"></i></span>
                    <span class="title title5">Shope</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/lookbook">
                    <span class="icon"><i class="fas fa-book"></i></span>
                    <span class="title title5">LookBook</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    <span class="icon"><i class="fas fa-feather-alt"></i></span>
                    <span class="title title5">About</span>
                </a>
            </li>
        </ul>

        <section class="navigationFooter">
            <ul>
                <li>
                    <a href="">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="title title5">Exit</span>
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <div class="settings hide">
        <h3>Configurações</h3>
        <section class="settingsItems">
            <a href="#">
                <span class="icon"><i class="fas fa-user-alt"></i></span>
                <span class="title">Meus dados</span>
            </a>
        </section>
        <section class="settingsItems">
            <a href="#">
                <span class="icon"><i class="fas fa-ticket-alt"></i></span>
                <span class="title">Últimos Pedidos</span>
            </a>
        </section>
        <section class="settingsItems">
            <a href="#">
                <span class="icon"><i class="fas fa-users"></i></span>
                <span class="title">Cupons</span>
            </a>
        </section>
        <section class="settingsItems">
            <a href="#">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="title">Sair</span>
            </a>
        </section>
    </div>
  
<div id="GeneralContent">
    {{#if error}}
        <div class="alert error-msg normalCase"> {{error}} </div>
    {{else}}

    {{/if}}
    {{>_menssages}}
    {{{ body }}}
</div>
    <footer class="footerContent">
        <section class="foooterContentBottom">
            <p>All Right reserved by Aka Kef</p>
        </section>
    </footer>
    </div>
    <script src="/scripts/index.js"></script>
</body>
</html>