<section class="OptionTiteleHeader">
        <span class="titleFinesse">Caixa</span>  
</section>
<div id="Pay" class="pagamentocontent">
    <div class="CartProduct">
        <section id="PayProducts" class="shopCartMeaddle" style="overflow-y:auto;">
        </section>  
    </div>
    <div class="CartProductactions flexCenterColumn" style="justify-content: flex-start; margin: 0;">
        <span class="titleFinesse">Caixa</span>
        <form action="/pagamento" method="post">
            <section class="data" >
            </section>
            <section class="actions">
                <input type="text" name="totalPagar" id="ProductTotal">
                <input type="submit" class=" linkButton delete" value="Finalizar Compra">
            </section>
        </form>
    </div>
</div>