<section class="OptionTiteleHeader">
        <span class="titleFinesse">Caixa</span>  
</section>
<form action="/pagamento"  class="pagamentocontent" method="post">
    <div class="CartProduct ">
        <section id="PayProducts" class="shopCartMeaddle" style="overflow-y:auto;">
        </section>
        
    </div>
    <div class="CartProductactions ">
        <span class="titleFinesse">Caixa</span>
        <section class="actions">
                <input type="text" name="totalPagar" id="ProductTotal">
                <input type="submit" class=" linkButton delete" value="Finalizar Compra">
           
        </section>
    </div>
 </form>