@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/*
font-family: 'Sedgwick Ave Display', cursive;

font-family: 'Poppins', sans-serif; (semi-bold)
*/
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --main-Background: #fefefe;
  --black: #000000;
  --grey: #e5e5e5;

  --lima-green: #3bed0c;
  --light-purple: #736993;
  --black-Blur: rgba(255, 255, 255, 0.04);
  --light-Blur: rgba(254, 254, 254, 0.97);
  --opaque-Black: #111010;
  --black-grey: #c4c4c4;
  height: 100%;
}

.titleFinesse {
font-family: "Poppins", sans-serif;
    text-align: justify;
    font-weight: 200;
    font-size: 50px;
    word-break: normal;
}

.title1 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  word-break: normal;
}

.title2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  word-break: normal;
}

.title3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  word-break: normal;
}

.title4{
  font-family: "Sedgwick Ave Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}

.title5{
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  word-break: normal;
}

p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.button {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 0; /*espaçamento das linhas*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--black);
  transition: 275ms ease;
}

.button:hover{
  background: var(--lima-green);
  transition:  1s;
}

.buttonBlackWhite {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 0; /*espaçamento das linhas*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--black);
  transition:  .5s;
  background: var(--opaque-Black);
}

/* Messages Conteiners */
.alert{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 1rem auto;
  height: 3.5rem;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition-delay: 1s;
}

.alert.error-msg{
  background-color: coral;
}

.alert.success-msg{
  background-color: var(--lima-green);
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: var(--main-Background);
}

body::-webkit-scrollbar {
  width: 4px;
  background: none;
}

body::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 3px;
}

.blur {
  filter: blur(20px);
}
#load{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

#load.loadContent{
  transition: all 1s ease-in-out;
}

.menu {
  z-index: 10;
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black-grey);
  transition: all 1s ease 0s;
  margin-bottom: 3%;
}

.menu .humburguer {
  margin-left: 20%;
  margin-right: 10%;
}

.menuItens {
  list-style: none;
}

.menuItens a {
  text-decoration: none;
  color: inherit;
  font-family: tahoma;
  font-size: 40px;
  color: var(--black);
  text-transform: uppercase;
}

.fas .fa-user,
.fas .fa-shopping-cart,
.fas .fa-truck {
  font-family: tahoma;
  font-size: 40px;
  color: var(--black);
}

.menu .menuItens {
  display: flex;
  margin-right: 20%;
  margin-left: 5%;
}

.menu .menuItens li {
  margin: 0px 15px;
  padding: 10px;
}

.menu .iconBar {
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 10px;
}

.menu .iconBar:last-child {
  padding-right: 10px;
  margin: 0 10px;
}

.menu .menuItens li:first-child {
  margin-left: 0;
}

.menu .menuItens li:last-child {
  margin-right: 0;
}

.menu .logoKef {
  margin-top: 10px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Cart*/
/*Settings*/
/*IndexContet*/

.indexContent {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
}

/*Sidebar*/
.navigation {
  position: fixed;
  top: 0;
  width: 0;
  height: 100vh;
  background: var(--main-Background);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 1s;
  overflow: hidden;
  overflow-y: auto;
}

.navigationHeader{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--grey);
}

.navigationFooter{
    border-top: 2px solid var(--grey);
    position: relative;
    top: 60%;
}

.navigation::-webkit-scrollbar,
.navigation::-webkit-scrollbar-thumb {
  width: 10px;
  background: none;
}

.navigation .submenu {
  margin-left: 5%;
  color: black;
}

.navigation:hover,
.navigation.active {
  width: 20rem;
  z-index: 11;
}

/*subMenu*/
.navigation .sube_Menu {
  padding-left: 15px;
  transition: 1s;
  z-index: 2;
}

.hide {
  display: none;
  transition-duration: 2s;
  transition-property: all;
}

.toggle_SubMenu::after {
  content: "\f0d9";
  font-family: "fontAwesome";
  text-align: center;
  line-height: 60px;
  font-weight: 900;
  font-size: 20px;
  margin-left: 40px;
  display: inline;
  transform: rotate(0);
  position: absolute;
  left: 70%;
}

.toggle_SubMenu.arrowOpen::after {
  transform: rotate(270deg);
}

/*---------------------------------*/
.navigation ul li {
  width: 100%;
  list-style: none;
}

.navigation ul li:hover {
  background: var(--black-grey);
  transition: 1s;
}

.navigation ul li a:hover {
  color: violet;
  transition: 0.5s;
}

.navigation ul li a {
  position: relative;
  /*display: block;*/
  display: flex;
  text-decoration: none;
  color: var(--black);
  transition: 0.5ms;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 20px;
  line-height: 60px;
  text-align: center;
  /*margin-top: 5%;*/
}

.navigation ul li a .icon .fas,
.navigation ul li a .icon .fab {
  font-size: 24px;
  line-height: 60px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.toggle:before {
  content: "\f0c9";
  font-family: fontAwesome;
  text-align: center;
  font-size: 40px;
  color: black;
  z-index: 11;
}

.toggle.active:before {
  content: "\f00d";
  font-family: fontAwesome;
  z-index: 11;
}

/*container*/
#GeneralContent{
  max-width: 3000px;
}

#Center-Content{
  margin: 2rem auto;
}

.OptionTiteleHeader{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

/*Content*/
.content {
  margin-top: 10%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  min-height: 80vh;
}

.contentGeral {
  margin-top: 3%;
  z-index: 1;
  overflow: hidden;
}

/*Footer*/
footer {
  margin-top: auto;
  border-top: 1px solid grey;
}

.footerContent {
  display: flex;
  flex-flow: column;
}

.footerContent .foooterContentBottom {
  background: var(--black);
  padding: 15px;
}

.footerContent .foooterContentBottom p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: white;
}

@media (max-width: 760px) {

  .navigation {
    left: -60px;
  }

  .navigation.active {
    left: 0px;
    width: 100%;

  }

  .toggle {
    display: block;
  }

  li .resposiveMenuTab {
    display: none;
    transition: 0.5s ease-in-out;
  }

  .responsiveMenu {
    display: flex;
    justify-content: center;
    flex-flow: row;
  }

  .responsiveMenu .logoWriter .writer {
    width: 200px;
    height: 100px;
  }

  .menu .menuItens li {
    margin: 0px 7px;
    padding: 0;
  }

  .responsiveMenu .menuItens .iconBar .fa-user,
  .responsiveMenu .menuItens .iconBar .fa-shopping-cart {
    padding-right: 20px;
  }

  .logoKef img {
    height: 55px;
    width: 165px;
  }

  .iconBar.user{
    display: none;
  }
}

@media(max-width: 350px){
  .menu .humburguer {
    margin-left: 30%;
    margin-right: 10%;
  }
}


/* Cards */
.products {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  max-width: 1200px;
  height: 100%;
  gap: 10px;
  /* margin: 3% 10% 5% 10%; */
}

.titleContent {
  border-bottom: 1px solid var(--black-grey);
  margin-bottom: .5em;
  text-align: center;
}

.cards {
  margin: 0 1rem;
  margin-bottom: 0.5em;
  transition: .5s;
  cursor: pointer;
}

.cards:nth-child(3){
  margin-right: 0;
}

.cards:nth-child(3n+1){
  margin-left: 0;
}

.cards:hover{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: .3s;
}

.cards .imgproduct {
  background-position: unset;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cards .imgproduct img {
  height: 350px;
  width: 340px;
}

.cards .cardInfoProd .p1{
    margin-bottom: 3%;
}

.cards .cardInfoProd p,
.cards .cardInfoProd .p1 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

button.button{
  margin-top: 2%;
  height: 45px;
  width: 100%;
  background-color: transparent;
}

@media (max-width: 760px) {
  .products.center{
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    height: 100%;
    gap: 10px;
    margin: 0 1rem;
  }

  .cards{
    margin: 0;
  }
  
  .cards .imgproduct img{
    height: 310px;
    width: 300px;
  }
}
@media (max-width: 350px ){

  .cards .imgproduct img{
    height: 280px;
    width: 270px;
  }
}

/* lookbook */

.GeneralContent h1{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.lookbook-items{
  margin: 0 auto;
  column-count: 4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.lookbook-items section{
  margin-bottom: 20px;
  border-radius: 4px;
  break-inside: avoid-column;
}

.lookbook-items img{
  display: block;
  max-width: 100%;
  overflow: hidden;
  transition: ease-in 1ms;
}

.lookbook-items img:hover{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: ease-in-out .5ms;
}

@media (max-width: 760px){
  .lookbook-items{
      column-count: 2;
  }
}

/*Details*/

#idtop {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  gap: 10px;
}
.infoDetailsProdCepRow .fas.fa-truck{
font-size: 46px;
margin-right: .2em;
}

#idtop .infoDetailsProd,
#idtop .imgDetailsProd {
  padding: 10px;
  margin: 10px;
}
#idtop .imgDetailsProd {
  flex-flow: column;
}

#idtop .infoDetails .infoDetailsProd p {
  font-size: 36px;
  margin: 5% 0;
}

#idtop .imgDetailsProd{
  background-position: unset;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#idtop .imgDetailsProd img {
  height: 450px;
  width: 440px;
  object-fit: cover;
  object-position: center;
}

#idtop .infoDetails .infoDetailsProd .button {
  margin: 0 auto;
  height: 45px;
  width: 50%;
}

.infoDetailsProdCepRow {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  margin: 2em;
}

#idtop .infoDetails .title2 {
  color: var(--black);
}

#idtop .infoDetails {
  flex-flow: row;
}

/*.fas .fa-truck{
    font-family: tahoma;
    font-size: 40px;
}*/

#idtop .infoDetailsProdCep .buttonBlackWhite {
  width: 70px;
  height: 53px;
}

#idtop .infoDetailsProdCep .title2 {
  color: var(--main-Background);
}

.detailsFooter {
  flex-flow: row;
  background: none;
  justify-content: center;
  margin: 8% 0;
  border-top: 1px solid var(--black-grey);
}

.detailsFooter .title1 {
  margin: 0 10% 3% 10%;
}

.detailsFooter p {
  margin: 0 10%;
}

/* Cliente Formulário */
.formTitle {
  width: 100%;
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 400px;
  padding: 5px;
}

  .wrapper .input-Data {
      height: 40px;
      width: 100%;
      position: relative;
  }

      .wrapper .input-Data input {
          height: 100%;
          width: 100%;
          border: none;
          font-size: 17px;
          background: none;
          border-bottom: 2px solid silver;
          -webkit-appearance: none;
          border-radius: 0;
          padding: 0;
          cursor: text;
      }

.input-Data input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.input-Data input:focus ~ label, input:valid ~ label {
  transform: translateY(-30px);
  background: none;
}

.wrapper .input-Data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: var(--black);
  text-transform: uppercase;
  pointer-events: none;
  transition: all 0.3s ease;
}

.line {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

  .line::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background-color: brown;
      transform: scaleX(0);
      transition: transform 0.3s ease;
  }

.input-Data input:hover ~ .line::before {
  transform: scaleX(1);
}

.dropDown-Data .dropdown:hover ~ .line::before {
  transform: scaleX(1);
}

.dropdown {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  background: none;
  border-bottom: 2px solid silver;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  outline: none;
}

.imgOptionForm {
  transform: translateY(-30px);
  background: none;
}


.bottomForm {
  display: flex;
  background: none;
  justify-content: center;
}

  .bottomForm .bottomFormBottom {
      border: 0.5px solid #c20101;
      border-radius: 6px;
      transition: 0.5s ease-in-out;
      margin-bottom: 20px;
      width: 360px;
      height: 50px;
  }


.bottomFormBottom button {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: none;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.bottomFormBottom:hover {
  background: #c20101;
  transition: 0.5s ease-in-out;
}

.bottomFormBottom button:hover {
  color: white;
  transition: 0.5s ease-in-out;
}

@media (max-width: 760px){
  #idtop .imgDetailsProd img{
    height: 280px;
    width: 270px;
  }

  #idtop {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* Animations */

@keyframes fadeIn {
  to{
    opacity: 0;
  }
}

.fade-in{
  opacity: 1;
  animation: fadein 1s ease-in-out forwards;
}